/* footer nav{
	padding:  0.5% 0 0.5% 0;
} */

footer ul {
	list-style: none;
	background-color: #7B7CD3;
	padding:  0.5% 0 0.5% 40px;
}

footer ul li {
  display: inline-block;
  padding-right: 2.5%;
  font-size: 1.25em;
}

footer a:link, footer a:visited {
	text-decoration: none;
	color: white;
}
	
footer #copyright {
	text-align: center;
	margin: 0 0 0 0;
}