header ul {
	list-style: none;
	background-color: #7B7CD3;
	padding-bottom: 1%;
}

header ul li {
  display: inline-block;
  padding-right: 2.5%;
  font-size: 1.25em;
}

header a:link, header a:visited {
	text-decoration: none;
	color: white;
}

header {
	background-color: #7B7CD3;
}

header h1 {
	color: white;
	font-size: 3em;
}

header #logo{
	display: table;
}

header .header{
	display: table-cell;
	vertical-align: middle;
}
