@media screen and (min-width: 992px) {
      /*
    on large screen, we want to show four images per row
    */
    #pictures {
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    p {
        margin-left: 5%;
        margin-right: 5%;
    }

    .indent {
		margin-left: 5%;
		margin-right: 5%;
	}
	
	
}