body main {
    background-color: #F8F7EB;   
}

main h1 {
    font-size: 2em;
}

/**
each section in the main tag need some space between
**/
main section {
    display: block;      
}

#subject {
    height: 200px;
}


label {
    font-weight: 200;
}


.border {
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

div#pictures img{
    width: 300px;
}

div.pagepictures img{
    width: 300px;
}

