.tooltiptext {
	visibility: hidden;
	background-color: #7B7CD3;
	color: white;
	padding: 2px 0 2px 0;
}

.tooltip:hover+.tooltiptext {
	visibility: visible;
	display: block;
}

.questionimg {
	max-width: 300px;
}